@mixin flexbox-hrz($gap) {
  display: flex;
  flex-direction: row;
  justify-content: safe center;
  align-items: safe center;
  gap: $gap;
}

@mixin flexbox-vrt($gap) {
  display: flex;
  flex-direction: column;
  justify-content: safe center;
  align-items: safe center;
  gap: $gap;
}
